@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700&display=swap");
@font-face {
  font-family: monar;
  src: url(droidiga.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: $color1;
  --primary-color-highlight: $color2;
  --bs-body-bg: $color4;
  --bs-body-font-family: "Barlow", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  color: var(--primary-color);
}
a :hover {
  color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar ::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar ::-webkit-scrollbar-track ::-webkit-scrollbar-thumb {
  background: var(--bs-dark);
}
::-webkit-scrollbar ::-webkit-scrollbar-track ::-webkit-scrollbar-thumb ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container-custom {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container-custom {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-custom {
    width: 1340px;
  }
}
@media (min-width: 1600px) {
  .container-custom {
    width: 1520px;
  }
}
.header {
  z-index: 2;
}

#navbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 4;
}
#navbar .dropdown-nav__closeNavBtn {
  position: absolute;
  top: 20px;
  right: 16px;
  background-color: #FBF0F6;
}
#navbar .dropdown-nav__closeNavBtn .dropdown-nav__container {
  height: 100vh;
  padding: 0 1rem;
}

.hero {
  position: relative;
  height: 100vh;
  background-color: var(--primary-color);
  overflow: hidden;
}
.hero .hero__video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
}
.hero .hero__video .hero__overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color);
  opacity: 0.5;
  z-index: 1;
}
.hero .hero__video .hero__overlay .hero__content {
  z-index: 1;
}
.hero .hero__video .hero__overlay .hero__content .hero__content-width {
  max-width: 540px;
}
.hero .hero__video .hero__overlay .hero__content .hero__content-width .hero__scroll-btn {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  z-index: 1;
  color: var(--bs-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.hero .hero__video .hero__overlay .hero__content .hero__content-width .hero__scroll-btn .hero__scroll-btn:hover {
  color: var(--bs-light);
  opacity: 0.8;
}
.hero .hero__video .hero__overlay .hero__content .hero__content-width .hero__scroll-btn .hero__scroll-btn:hover .hero__scroll-btn .bi {
  transition-delay: 0.8s;
  animation: bounce 1s infinite alternate;
}

@media (min-width: 1400px) {
  .hero__heading {
    font-size: 2.2rem;
  }
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
.steps {
  padding-top: 40px;
  padding-bottom: 40px;
}
.steps .steps__section-thumbnail {
  height: 240px;
  object-fit: cover;
  margin: 0 auto;
}
.steps .steps__section-thumbnail .steps__content-width {
  max-width: 456px;
  margin: 0 auto;
}
.steps .steps__section-thumbnail .steps__content-width .steps--background {
  background-color: #FBF0F6;
}

@media (min-width: 544px) {
  .steps {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .steps__section-thumbnail {
    height: auto;
  }
}
.footer .border-highlight {
  border-top: 1px solid var(--primary-color-highlight);
}
.footer .border-highlight .footer {
  text-align: center;
  padding: 1rem 0;
}
.footer .border-highlight .footer .iconos {
  display: inline-block;
}
.footer .border-highlight .footer .iconos .footer i {
  font-size: 25px;
  letter-spacing: 20px;
}

#marca {
  font-family: monar !important;
}

/*# sourceMappingURL=estilos.css.map */
